body{
    display: flex;
    flex-direction: column;
    height: calc(100vh- 50px);
    overflow: hidden;
}

#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 40px);
    padding: 20px;
    height: 100%;
    background-color: white;
    flex: 1;
    gap: 25px;
}
