body{
    display: flex;
    flex-direction: column;
    height: calc(100vh- 50px);
}

#content{
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 40px);
    padding: 20px;
    height: 100%;
    background-color: white;
    flex: 1;
    display: none;
    gap: 25px;
}
